experiments/RBP_Autoethanogenum2/0.DataSet/dataset_FT.csv filter=lfs diff=lfs merge=lfs -text
experiments/RBP_Autoethanogenum2/0.DataSet/dataset_FV.csv filter=lfs diff=lfs merge=lfs -text
experiments/RBP_Autoethanogenum2/0.DataSet/dataset_TT.csv filter=lfs diff=lfs merge=lfs -text
