CTkToolTip==0.8
PIL
argparse
ast
configparser
customtkinter==5.1.3
goatools==1.3.11
h5py==3.9.0
importlib
importlib_metadata==6.0.0
io
itertools
json
logging
matplotlib==3.6.2
numpy==1.23.1
os
pandas==1.5.0
plotly==5.9.0
process
queue
re
requests==2.31.0
seaborn==0.12.2
sklearn
sys
tabulate==0.8.10
termcolor==2.1.0
threading
time
tkinter
torch==2.2.0.dev20230928
torchvision==0.17.0.dev20230928
transformers==4.32.1
webbrowser
wget==3.2
