seaborn==0.12.2
io
PIL
webbrowser
torchvision==0.17.0.dev20230928
numpy==1.23.1
shutil
time
itertools
ast
importlib_metadata==6.0.0
pandas==1.5.0
process
goatools==1.3.11
transformers==4.32.1
sklearn
CTkToolTip==0.8
re
requests==2.31.0
importlib
json
torch==2.2.0.dev20230928
logging
sys
plotly==5.9.0
os
queue
matplotlib==3.6.2
threading
tabulate==0.8.10
argparse
configparser
wget==3.2
termcolor==2.1.0
customtkinter==5.1.3
tkinter
h5py==3.9.0
